<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-vialock-sdk" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>CordovaViaLockSDK</name>
  <js-module name="CordovaViaLockSDK" src="www/CordovaViaLockSDK.js">
    <clobbers target="cordova.plugins.CordovaViaLockSDK" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="CordovaViaLockSDK">
        <param name="android-package" value="com.viatick.cordovavialocksdk.CordovaViaLockSDK" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.BLUETOOTH"/>
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    </config-file>
    <source-file src="src/android/CordovaViaLockSDK.java" target-dir="src/com/viatick/cordovavialocksdk" />
    <source-file src="src/android/ViaLockController.java" target-dir="src/com/viatick/cordovavialocksdk" />
    <source-file src="src/android/BluetoothUuid.java" target-dir="src/com/viatick/cordovavialocksdk" />
    <source-file src="src/android/HTTPRequestHelper.java" target-dir="src/com/viatick/cordovavialocksdk" />
    <source-file src="src/android/Key.java" target-disr="src/com/viatick/cordovavialocksdk" />
    <source-file src="src/android/LockDevice.java" target-dir="src/com/viatick/cordovavialocksdk" />
    <source-file src="src/android/SmartLockUtil.java" target-dir="src/com/viatick/cordovavialocksdk" />
    <source-file src="src/android/Value.java" target-dir="src/com/viatick/cordovavialocksdk" />
    <source-file src="src/android/ViaInterfaces.java" target-dir="src/com/viatick/cordovavialocksdk" />
    <framework src="com.android.volley:volley:1.0.0" />
    <framework src="com.android.support:appcompat-v7:23.1.1" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="CordovaViaLockSDK">
        <param name="ios-package" value="CordovaViaLockSDK" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/ios/CordovaViaLockSDK.swift" />
    <source-file src="src/ios/ViatickLockSDK.swift" />
    <source-file src="src/ios/SmartLockSDK.swift" />
    <dependency id="cordova-plugin-add-swift-support" version="1.6.1"/>
    <framework src="src/ios/CryptoSwift/CryptoSwift.xcodeproj" custom="true" embed="true" />
  </platform>
</plugin>
